@import 'typography';
@import "variables";

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1024px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 769px) { @content ; }
  }
}

@mixin rounded() {
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  outline: none;
  background: $white;
}

@mixin hoverBorder() {
  transition: border-width 0.1s ease-in;
  &:hover, &:focus {
    border-width: 3px;
  }
}

@mixin hoverOutline() {
  outline: 1px solid $border-color;
  transition: outline-width 0.1s ease-in;

  &:hover, &:focus {
    outline-width: 3px;
  }
}

@mixin headerXl() {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-xl;
}

@mixin headerL() {
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  line-height: $line-height-m;
}

@mixin headerM() {
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  line-height: $line-height-m;
}

@mixin headerSm() {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: $line-height-m;
}

@mixin textReg() {
  font-size: $font-size-m;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
}

@mixin textSm() {
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  line-height: $line-height-m;
}

@mixin textSmBold() {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  line-height: $line-height-s;
}