$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-xl: 2.25rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-sm: 0.75rem;

$line-height-xl: 1.4;
$line-height-m: 1.5;
$line-height-s: 1.2;
