$white: #FFFFFF;
$title-green: #45852D;

$border-color: #D8D8D8;
$border: 1px solid $border-color;

$border-radius: 25px;
$box-shadow:  0 0 1px 0 $border-color;

$bg-mark-independent: #006F79;
$bg-mark-support: #EC6608;

$card-bg: #F8F8F8;
$card-w: 340px;
$card-h: 200px;

