//@import '~normalize.css';
@import 'variables';
@import 'mixins';

@import 'common';

@import 'header';
@import 'toolbar';
@import 'gallery';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans, sans-serif;
  width: 100%;
  min-height: 100%;
}

h1 {
  @include headerXl();
}

h2 {
  @include headerL();
}

p,
span {
  @include textReg();
  //font-size: 1em;
  //font-weight: 400;
  //line-height: 1.75em;

  &.sm {
    @include textSm();
    //font-size: 0.75em;
  }
}

.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 0 10px;

  > :not(:last-child) {
    margin-bottom: 15px;
  }

  @include breakpoint(desktop) {
    margin: auto;
    width: min-content;
    padding: 36px 50px;
    > :not(:last-child) {
      margin-bottom: 45px;
    }
  }
}
