@import 'variables';
@import 'typography';
@import 'mixins';

.app__toolbar {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  @include breakpoint(desktop) {
    align-items: flex-start;
  }
}

.app__toolbar__filter-label {
  @include headerM();
  margin-right: 10px;
}

.app__toolbar__filter-input {
  @include rounded();
  @include hoverBorder();
  @include textReg();

  -webkit-appearance: none;
  padding: 0 20px;
  height: 50px;
}
